body
{
    background-color: rgb(0, 140, 255);
}

.boucing-loader{
display: flex;
justify-content: center;
}

.boucing-loader > div{
width: 1rem;
height: 1rem;
margin: 3rem 0.2rem;
background-color: #8385aa;
border-radius: 50%;
animation: saltar .6s infinite alternate;
}

.boucing-loader > div:nth-child(2){
    animation-delay: -.2s;
}
.boucing-loader > div:nth-child(3){
    animation-delay: -.4s;
}

@keyframes saltar{
   
    to {
        opacity: 0.4;
        transform: translate3d(0,-1rem, 0);
    }
    
}